<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="okemo">

   <!-- import main macro -->
   <xacro:include filename="$(find ur_description)/urdf/inc/ur_macro.xacro"/>

   <!-- parameters -->
   <xacro:arg name="joint_limit_params" default="$(find ur_robotouch)/config/okemo/joint_limits.yaml"/>
   <xacro:arg name="kinematics_params" default="$(find ur_robotouch)/config/okemo/kinematics_calib.yaml"/>
   <xacro:arg name="physical_params" default="$(find ur_robotouch)/config/okemo/physical_parameters.yaml"/>
   <xacro:arg name="visual_params" default="$(find ur_robotouch)/config/okemo/visual_parameters.yaml"/>
   <!-- legal values:
         - hardware_interface/PositionJointInterface
         - hardware_interface/VelocityJointInterface
         - hardware_interface/EffortJointInterface
   -->
   <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
   <xacro:arg name="safety_limits" default="false"/>
   <xacro:arg name="safety_pos_margin" default="0.15"/>
   <xacro:arg name="safety_k_position" default="20"/>

   <!-- arm -->
   <xacro:ur_robot
     prefix=""
     joint_limits_parameters_file="$(arg joint_limit_params)"
     kinematics_parameters_file="$(arg kinematics_params)"
     physical_parameters_file="$(arg physical_params)"
     visual_parameters_file="$(arg visual_params)"
     transmission_hw_interface="$(arg transmission_hw_interface)"
     safety_limits="$(arg safety_limits)"
     safety_pos_margin="$(arg safety_pos_margin)"
     safety_k_position="$(arg safety_k_position)"/>



      <!-- ######### Now add your custom end effector/gripper etc ##########-->

            <!--Onrobot FT sensor-->
      <!--Import the xacro -->
      <xacro:include filename="$(find ur_robotouch)/urdf/onrobot_hex_v2.xacro"/> 
      <!-- Instantiate Onrobot FT sensor-->
      <xacro:onrobot_ft prefix = "on_"/>
      <!-- attach the Onrobot FT sensor by defining a fixed joint-->
      <joint name="tool0-onrobot" type="fixed">
            <parent link="tool0"/> <!-- tool0 is defined in the ur_macro xacro-->
            <child link="on_base_link"/> <!-- on_base_link is defined in onrobot_hex_v2.xacro -->
            <origin xyz="0 0 0"/>
      </joint>


            <!-- WSG50 Gripper-->
      <!--Import the xacro -->
      <xacro:include filename="$(find ur_robotouch)/urdf/wsg50.xacro"/>
      <!--Instantiate-->
      <xacro:wsg50 prefix="wsg50_"/>
      <!--attach the gripper to OnRobot FT sensor via a fixed link-->
      <joint name="onrobot-wsg50" type="fixed">
            <parent link="on_flange"/> <!-- tool0 is defined in the ur_macro xacro-->
            <child link="wsg50_base_link"/> <!-- on_base_link is defined in onrobot_hex_v2.xacro -->
            <origin xyz="0 0 0"/>
      </joint>


      
</robot>
