<?xml version="1.0"?>
<launch>
  <include file="$(find ur_robotouch)/launch/load_okemo.launch"/>

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find  ur_robotouch)/config/view_model.rviz" required="true" />
</launch>
